{include file="Public/header" /}
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        {include file="Public/header-nav" /}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            {include file="Public/menu" /}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                
                {include file="Public/breadcrumb" /}

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-8">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">新增单页面</h3>
                                </div>
                                <div class="box-header">
                                    <p class="box-title" style="font-size:12px;float:none;display:block;">field格式：字段名:html标签|字段名:html标签</p>
                                </div>
                                <!-- form start -->
                                <form role="form" id="form">
                                    <div class="box-body">
                                    {volist name="list_fields" id="vo"}
                                        <div class="form-group">
                                            <label for="{$vo}">{$vo}</label>
                                            <input type="text" class="form-control" id="{$vo}" name="{$vo}" placeholder="请输入{$vo}">
                                        </div>
                                    {/volist}
                                    <div class="form-group">
                                        <label style="display:block;">menu_id</label>
                                        <select class="form-control" id="level" style="width:30%; float:left;" onchange="switch_level();">
                                        	{for start="1" end="$max_level"}
                                            	<option value="{$i}" onclick="switch_level();">{$i}级目录</option>
                                            {/for}
                                        </select>
                                        <select class="form-control" name="menu_id" id="menu_id" style="width:70%; float:right;">
                                        	{volist name="data_list" id="vo"}
                                        		{if condition="$vo['level'] eq 1"}
                                        			<option value="{$vo.id}">{$vo.name}</option>
                                        		{/if}
                                            {/volist}
                                        </select>
                                    </div>
                                    <div style="clear:both;"></div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary" onclick="return ajax_submit();">提交</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->

                        </div><!--/.col (left) -->
                        
                    </div>   <!-- /.row -->
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        <script type="text/javascript">
            function ajax_submit(){
                var field = $('#field').val();
                var error = '';
                if(field == '') error = '请输入单页面的字段名和格式';
                if(error != ''){
                    layer.msg(error);
                    return false;
                }
                $.ajax({
                    url:"{:Url('Singlepage/insert')}",
                    datatype:'json',
                    type:'post',
                    data:$('#form').serialize(),
                    success : function (result){
                        if(result.code == 'success'){
                            location.href="{:Url('Singlepage/pageList')}";
                        }else if(result.code == 'error'){
                        	layer.msg(result.str);
                        }
                    }
                })
                return false;
            }
            function switch_level(){
            	var level = $('#level option:selected').val();
            	var str = '';
            	$.ajax({
            		url:"{:Url('Menu/ajaxLevel')}",
            		typedata:'json',
            		type:'post',
            		data:'level='+level,
            		success : function (result){
            			$.each(result, function(index, value){
            				str += '<option value="'+value.id+'">'+value.name+'</option>';
            			});
            			$('#menu_id').html(str);
            		}
            	})
            }
        </script>
    {include file="Public/footer" /}
    </body>
</html>