{include file="Public/header" /}
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        {include file="Public/header-nav" /}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            {include file="Public/menu" /}

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                
                {include file="Public/breadcrumb" /}

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-8">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">更新权限组</h3>
                                </div>
                                <!-- form start -->
                                <form role="form" id="form">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label for="name">name</label>
                                            <input type="text" class="form-control" id="name" name="name" value="{$info.name}" placeholder="请输入权限组名称">
                                        </div>
                                        <div class="form-group">
                                            <label for="jurisdiction">jurisdiction</label>
                                            <div class="checkbox">
                                            {volist name="menu_list" id="vo"}
                                                <label>
                                                    <input type="checkbox" name="id-{$vo.id}" value="1" {if condition="strpos($info['jurisdiction'], $vo['id']) !== false"}checked{/if} />
                                                    {$vo.name}
                                                </label>
                                                {if condition="!empty($vo['zlist'])"}
                                                    <div style="text-indent:4em;">
                                                        {volist name="vo['zlist']" id="v"}
                                                        <label>
                                                            <input type="checkbox" name="id-{$v.id}" value="1" {if condition="strpos($info['jurisdiction'], $v['id']) !== false"}checked{/if} />
                                                            {$v.name}
                                                        </label>
                                                        {/volist}
                                                    </div>
                                                {/if}
                                                <div style="margin-bottom: 30px;"></div>
                                            {/volist}
                                            </div>
                                            <input type="hidden" name="group_id" value="{$info.group_id}" />
                                        </div>

                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary" onclick="return ajax_submit();">提交</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->

                        </div><!--/.col (left) -->
                        
                    </div>   <!-- /.row -->
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        <script type="text/javascript">
            function ajax_submit(){
                var name = $('#name').val();
                var error = '';
                if(name == '') error = '请输入权限组名字';
                if(error != ''){
                    layer.msg('请输入权限组名称');
                    return false;
                }
                $.ajax({
                    url:"{:Url('Jurisdiction/update')}",
                    datatype:'json',
                    type:'post',
                    data:$('#form').serialize(),
                    success : function (result){
                        console.log(result);
                        if(result.code == 'success'){
                            location.href="{:Url('Jurisdiction/grouplist')}";
                        }
                    }
                })
                return false;
            }
        </script>
    {include file="Public/footer" /}
    </body>
</html>