<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">

                        <div class="pull-left info">
                            <p>Hello, {$Think.session.user.nickname}</p>
                        </div>
                    </div>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        {volist name="menu" id="vo"}
                        <li class="treeview {eq name='$vo.id' value='$menu_id'}active{/eq}">
                            <a href="#">
                                <span>{$vo.name}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            {if condition="!empty($vo['zlist'])"}
	                            <ul class="treeview-menu">
	                                {volist name="$vo['zlist']" id="v"}
	                                <li><a href="{$v.link}"><i class="fa fa-angle-double-right"></i> {$v.name}</a></li>
	                                {/volist}
	                            </ul>
                            {/if}
                        </li>
                        {/volist}
                        
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>